@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Hammersmith+One&family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body{ 
    background-color: #eeeccb;
    overflow: hidden;
    font-family: 'Hammersmith One';
}

a{
    text-decoration: none;
    font-family: 'Hammersmith One';
}

nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.nav-signin-button{
    
    background-color: transparent;
    border: none;
}
.nav-signin-button a{
    color: gray;
}

.nav-tryforfree-button{
    background-color: #0e3013;
    border: none;
    padding: 17px;
    margin-top: -20px;
    border-radius: 6px;
}

#nav-bar-bt{
    margin-left: 35px;
}
.nav-tryforfree-button a{
    color: white;
    margin-bottom: 20px;
}

.nav-bar-item{
    color: gray;
    margin-left: 40px;
    margin-right: 0;
}

.img-call{
    width: 50%;
    margin-left: 17%;
    box-shadow: #eeeccb 2px 5px ;
}


section{ 
    display: flex;
    align-items: center;
    margin-left: 10%;
}

h1{
    font-size: 63px;
}

.title-text-continue{
    color: #ffc83d;
}    

.content-reviews{
    position: fixed;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    justify-content: space-between;
    list-style: none;
}

.sec-apps{
    margin-left: 5px;
}

footer{ 
    margin-top: 100px;
}

.footer-text{
    text-align: center;
    color: gray;
}

.footer-companies{
    position: fixed;
    display: flex;
    padding: 30px;
    margin-left: 23%;
    align-items: center;
    justify-content: center;
}

.img-companies{
    margin-left: 5%;
}